img {
    float:left;
    height:2.5em;
    margin:-.25em 1em -.25em 0;
    border-radius: 1.25em;
    border: .2em solid white;
}
div {
    float: left;
}
button {
    float: left;
}
.top-panel {
    display: block;
    width: 100%;
    padding: 1em;
    color: white;
    background: #696e99;
}
.top-panel span {
    display: block;
    float: left;
    margin: .2em 1em 0 0;
}
.top-panel #panel-left {
    display: block;
    float: left;
}
.top-panel #panel-left a {
    margin-right:.5em;
}
.top-panel #panel-right {
    display: block;
    float: right;
}